{{template "logup" .}}

{{define "title"}}Forgot Password{{end}}

{{define "content"}}
    <form method="post" id="form1" action="#form2">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
        </div>
        
        <button type="submit" class="btn btn-primary" id="submit_old_form">Send OTP</button>
    </form>

    <form method="post" id="form2" style="display: none;">
        <div class="mb-3">
            <label for="confirm_otp" class="form-label">Confirm OTP</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="confirm_otp">
        </div>
        
        <button type="submit" class="btn btn-primary">Send OTP</button>
    </form>
{{end}}

{{define "js"}}
    <script>
        let old_form = document.getElementById("form1");
        let new_form = document.getElementById("form2");
        let submit_old_form = document.getElementById("submit_old_form");

        submit_old_form.addEventListener("click", function() {
            old_form.style.display = "none";
            new_form.style.display = "block";
        })
    </script>
{{end}}