{{template "standard" .}}

{{define "content"}}
    {{$table_values := index .Data "countryRow"}}

    <form method="post">
        <h3>Get resource consumption status of a country</h3>
        <div class="mb-3">
            <label for="country" class="form-label">Enter Desired Country:</label>
            <input type="text" class="form-control" id="country" name="country">
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
    </form>

    <table>
        <tr>
            <td>Country: {{$table_values.Country}}</td>
            <td>Oil: {{$table_values.Oil}}</td>
            <td>Electricity: {{$table_values.Electricity}}</td>
            <td>Coal: {{$table_values.Coal}}</td>
            <td>Natural Gas: {{$table_values.NaturalGas}}</td>
            <td>Biofuel: {{$table_values.Biofuel}}</td>
        </tr>
    </table>
{{end}}